*{
  max-width: 100%;
  margin: 0%;
  padding: 0%;
}
.jumbotron {

}
h1 {
  font-family: 'Chango', cursive;

}

#btn {
  font-family: 'Chango', cursive;
}


body {
  text-align: center;
  background-color: aqua;
  justify-content: center;
  align-items: center;  




#background {

}



