* {
  max-width: 100%;
  margin: 0%;
  padding: 0%;
}

p {
  font-family: 'Chango', cursive;
}

h1 {
  font-family: 'Chango', cursive;
}


#dice {
  font-family: 'Chango', cursive;
}

#score  {
  font-family: 'Chango', cursive;
}
#total {
  font-family: 'Chango', cursive;
}

body {
  text-align: center;
  background-color: aqua;
  justify-content: center;
  align-items: center;  
}






